$background: #f5f5f5;

html{
  font-size: 62.5%;
}

body {
  background: $background;
  // height: 100vh;
  box-sizing: border-box;
}

.wrapper {
  font-family: monospace, monospace;
  height: 90%;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 90vh;
}
.item {
  box-sizing: border-box;
  padding: 10px;
  flex-grow: 1;
}

.input,.output  {
  height: 100%;
}

textarea {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  width: 100%;
  min-width: 500px;
  height: 100%;
  resize: none;
}